<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Grasshopper</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      Grasshopper uses the <a href="http://en.wikipedia.org/wiki/Pomodoro_Technique"><em>Pomodoro Technique</em></a> to help you work. The Pomodoro Technique was invented by Franscesco Cirillo in the 1980s. Each Pomodoro is made up of 25 minutes of intense work followed by a five minute break. 
    </p>
    <p>
      We love the Pomodoro Technique but felt it was lacking in social engagement. Keep on eye on your friends as their Pomodoro count updates throughout the day and they will be keeping an eye on you.
    </p>

    
  </body>
</html>