<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Grasshopper</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      Grasshopper uses <a href="http://www.railstutorial.org/"><em>Pomdoros</em></a> to help you work. Follow your friends and see how they are doing during the day. Keep on eye on your friends and they will be keeping an eye on you.
    </p>
  </body>
</html>