<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %>| Grasshopper</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      If you want help invite someone you know who works harder than you do. Watch as their score ticks up throughout the day and try not to let them beat you.
    </p>
  </body>
</html>