<div class="modal fade" id="patchModal" tabindex="-1" role="dialog" aria-labelledby="patchModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title">Patch Notes - May 28th</h4>
	        </div>
	        <div class="modal-body">  
		        <li>Time zones + Tags</li>
		        <ul>
		          <li>Turns out my fixes last time were totally wrong.</li>
		          <li>Currently everyone is defaulted to East Coast</li>
		        </ul>
		        <li>Daily Board</li>
		        <ul>
		        	<li>See your score change from red to green when you complete your goal (for some reason this is only showing up on refresh, I'll work on this soon)</li>
		        	<li>People should no longer show up as inactive if they have done work but not set a goal.</li>
		        </ul>
		        <li>Styled Tags</li>
		        <ul>
		        	<li>For those of you who like to tag your work I fixed a few issues with the way it displays on users profiles.</li>
		        	<li>I also made it a bit nicer to look at.</li>
		        </ul>
            </div>
	    </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
