<div class="modal fade" id="patchModal" tabindex="-1" role="dialog" aria-labelledby="patchModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title">Patch Notes - June 7th</h4>
	        </div>
	        <div class="modal-body">  
		        <li>Feedback!</li>
		        <ul>
		        	<li>Give each other feedback. Give your friend a thumbs up if they are doing great and save that thumbs down for when they really slack off.</li>
		        </ul>
		        <li>Tags</li>
		        <ul>
		          <li>You can now see a list of your day in detail</li>
		          <li>Tags can be editted retroactively. Add, delete, edit.</li>
		        </ul>
            </div>
	    </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
