<div class="modal fade" id="patchModal" tabindex="-1" role="dialog" aria-labelledby="patchModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title">Patch Notes - May 21st</h4>
	        </div>
	        <div class="modal-body">  
		        <li>Dailyboard / Leaderboard Changes</li>
		        <ul>
		          <li>Only active users will appear</li>
		          <li>Enjoy people's faces, a little design upgrade</li>
		        </ul>
		        <li>Tagging Implemented</li>
		        <ul>
		        	<li>Keep track of what you are working on with tags</li>
		        	<li>In a user profile you can see your work history for the last month </li>
		        	<li>WARNING: This is currently public to all users</li>
		        </ul>
		        <li>Landing Page Tweaks</li>
		        <ul>
		        	<li>Minor design changes to the landing page, logout to check it out</li>
		        </ul>
            </div>
	    </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
