<div class="modal fade" id="patchModal" tabindex="-1" role="dialog" aria-labelledby="patchModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title">Patch Notes - May 22st</h4>
	        </div>
	        <div class="modal-body">  
		        <li>Bug Fixes + Daily Board</li>
		        <ul>
		          <li>Fixed a bug related to timezones.</li>
		          <li>Your work should now end up in the proper day</li>
		          <li>Currently everyone is defaulted to East Coast</li>
		        </ul>
		        <li>Daily Board</li>
		        <ul>
		        	<li>See your score change from red to green when you complete your goal</li>
		        </ul>
		        <li>Added Goal Button</li>
		        <ul>
		        	<li>If you don't set a goal in the morning but want to later I added a button that will make it easier.</li>
		        </ul>
            </div>
	    </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
