
	Actual: <%= log_count(Time.zone.today, current_user) %> / 
	Goal:   <%= goal_count(Time.zone.today, current_user) %>
	<br>
    <% if goal_count(Time.zone.today, current_user) == "-" %>
    <button type="button" class="btn btn-warning btn" data-toggle="modal" data-target="#goalModal">
      Set Your Goal
    </button>
    <% end %>
