<div id="instructions"></div>

<div id="timer"></div>
<div id="sound"></div>

<div id="work-buttons"></div>
<div id="rest-buttons" style="display:none"></div>

<div class="done" style="display:none">
  <!-- Display 'How did you do?' form -->

  <%= simple_form_for @log, remote:true, url: '/logs/create' do |f| %>
    <%= f.input :result, value: "Completd my Pomodoro", label: "Completed my Pomodoro?", class: "btn btn-info", id: "log-result-input", as: :radio_buttons %>
    <%= f.button :submit, value: "Log results", class: "btn btn-info", id: "log-result-btn" %>
  <% end %>
  <br> <br> <br>
</div>
<script>


 $('#work-buttons').html('<button type="button" id="start" class="btn btn-info">Start</button>\
   <button type="button" id="stop" class="btn btn-info">Pause</button>\
   <button type="button" id="reset" class="btn btn-info">Reset</button>');

 $('#rest-buttons').html('<button type="button" id="end" class="btn btn-info">End</button>');

 $('#instructions').html('<span id="current-segment">Pomodoro</span>');

 $('#timer').html('25:00', clock('work'));

 function playSound(filename){   
                document.getElementById("sound").innerHTML='<audio autoplay="autoplay"><source src="' + filename + '.mp3" type="audio/mpeg" /><source src="' + filename + '.ogg" type="audio/ogg" /><embed hidden="true" autostart="true" loop="false" src="' + filename +'.mp3" /></audio>';
            }

 function clock(segment) {
  "use strict";
  // initialize
  var totalSeconds = segment === 'break' ? 5 : 5/*300 : 1500 */, timer = totalSeconds, counter, startButton = document.getElementById('start'), startRestButton = document.getElementById('start-rest'), stopButton = document.getElementById('stop'), resetButton = document.getElementById('reset'), endButton = document.getElementById('end');
  startButton.disabled = false;
  stopButton.disabled = false;

  startButton.onclick = function() {
    stop();
    counter = setInterval(function() {setTime();}, 1000);
    startButton.disabled = true;
    stopButton.disabled = false;
  };

  startRestButton.onclick = function() {
    stop();
    counter = setInterval(function() {setTime();}, 1000);
    startButton.disabled = true;
    stopButton.disabled = false;
  };

  stopButton.onclick = function() {
    if (timer) {
      stop();
      startButton.disabled = false;
    }
  };

  resetButton.onclick = function() {
      stop();
      timer = totalSeconds;
      displayTime(timer);
      counter = setInterval(function() {setTime();}, 1000);
      startButton.disabled = true;
      stopButton.disabled = false;
  };

  endButton.onclick = function() {
    timer = 1;      
    displayTime(timer);
    startButton.disabled = false;

  }

  function setTime() {
  	timer = decrement(timer);
    displayTime(timer);
    localStorage.setItem("clock", timer);
    localStorage["session"] = segment
    if (!timer) {
      stop();
      stopButton.disabled = true;
      if (segment === 'work') {
        playSound('https://outwork.s3.amazonaws.com/audio/alarm')
        $('.done').css({display: 'block'});
        $('#work-buttons').css({display:'none'});        
        $('#rest-buttons').css({display:'none'});
      }
      else { // break or malformed
        $('#instructions').html('Pomodoro');  
        $('#work-buttons').css({display:'block'});        
        $('#rest-buttons').css({display:'none'});      
        $('#timer').html('25:00', clock('work'));
      }
    }
		return timer;
  }

  function displayTime(timeLeft) {
    var seconds = timeLeft % 60, minutes = Math.floor(timeLeft / 60);
    document.getElementById('timer').innerHTML = (pad(minutes) + ':' + pad(seconds));
  }

  function decrement(seconds){
    return seconds - 1;
  }

  function pad(val) {
    var valString = val + "";
    if (valString.length < 2) {
      return "0" + valString;
    } else {
      return valString;
    }
  }

  function stop() {
    clearInterval(counter);
  }
}

$('#log-result-btn').click(function() {
  var isCompleted = $('input[name="log[result]"]:checked').val() === 'true';
   $('.done').css({display: 'none'});
  if (isCompleted) {
    $('#instructions').html('Break');
    $('#timer').html('05:00', clock('break'));
    $('#work-buttons').css({display:'none'});        
    $('#rest-buttons').css({display:'block'});
    $('#start').click();
  } else {
    $('#timer').html('25:00', clock('work'));
    $('#work-buttons').css({display:'block'});        
    $('#rest-buttons').css({display:'none'});
  }

});

</script>
