<div id="timer"></div>

<div id="break-timer"></div>
<script>


 $('#timer').html('<button type="button" id="start">Start</button>\
   <button type="button" id="stop">Stop</button>\
   <button type="button" id="reset">Reset</button>');

 $('#break-timer').html('<h1>05:00</h1>', clock());

 function clock() {
  "use strict";
  var totalSeconds = 300, timer = totalSeconds, counter, startButton = document.getElementById('start'), stopButton = document.getElementById('stop'), resetButton = document.getElementById('reset');

  startButton.onclick = function() {
    stop();
    counter = setInterval(function() {setTime();}, 1000);
    startButton.disabled = true;
    stopButton.disabled = false;
  };

  stopButton.onclick = function() {
    if (timer) {
      stop();
      startButton.disabled = false;
    }
  };

  resetButton.onclick = function() {
      stop();
      timer = totalSeconds;
      displayTime(timer);
      startButton.disabled = false;
  };

  function setTime() {
  	timer = decrement(timer);
    displayTime(timer);
    if (!timer) {
      stop();
      stopButton.disabled = true;
    }
		return timer;
  }

  function displayTime(timeLeft/*seconds, minutes*/) {
    var seconds = timeLeft % 60, minutes = Math.floor(timeLeft / 60);
    document.getElementById('break-timer').innerHTML = ('<h1>'+ pad(minutes) + ':' + pad(seconds) +'</h1>');
  }

  function decrement(seconds){
    return seconds - 1;
  }

  function pad(val) {
    var valString = val + "";
    if (valString.length < 2) {
      return "0" + valString;
    } else {
      return valString;
    }
  }

  function stop() {
    clearInterval(counter);
  }
}


</script>
