//On 'Start Pomodoro' submit:

<% task = current_user.logs.last.task %>
$('#task-header').html('<h3 class="text-danger">Task : <%= task %></h3>')
$("#form-area").html('');
$("#counter").html('');

//Start work timer
$('#work-timer').html('<h1>25:00</h1>', startWorkTimer());

function startWorkTimer(){
	var time = 1500;
	// var time = 2;
	var timer = setInterval(function(){
		time = decrement(time);
		var minutes = Math.floor(time / 60);
		var seconds = time % 60;
		if(time == 0)
		{
			clearInterval(timer);
			createEndSessionForm();
		}
		$('#work-timer').html('<h1>'+(minutes.toString().length < 2 ? '0' + minutes : minutes) + ':' + (seconds.toString().length < 2 ? '0' + seconds : seconds)+'</h1>');
	}, 1000)
}

function decrement(seconds){
	return seconds - 1;
};


function createEndSessionForm(){	
	$("#form-area").html('<h4 class="text-center text-info">Work time is over!</h4>\
						  <%= simple_form_for @log, remote:true, url: logs_update_ended_at_path, method: :post do |f| %>\
						      <div class="row text-center">\
						 	      <%= f.button :submit, value: "End session", class: "btn btn-info col-sm-4 col-sm-offset-4" %>\
						  	  </div>\
					      <% end %>');
}

